html {
  font-size: 14px;
}
@font-face {
    font-family: 'GolosText'; /* Название вашего шрифта */
    src: url('/GolosText-VariableFont_wght.ttf') format('truetype'); /* Путь к вашему файлу шрифта */
    /* Другие параметры шрифта, например, начертание и вес */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


h1{
    font-size: 70px;
}

.gradient-line {
    height: 1px; /* Высота линии */
    margin-top: 40px;
    background: linear-gradient(to right, transparent, black, transparent); /* Градиент от прозрачного к черному и обратно */
}

/* Стили для кнопки */
.custom-button {
    border: 2px solid #000; /* Ширина и цвет границы */
    border-radius: 20px; /* Радиус скругления углов */
    padding: 10px 20px; /* Отступы внутри кнопки */
    background-color: transparent; /* Прозрачный фон */
    color: #000; /* Цвет текста */
    transition: background-color 0.3s, color 0.3s; /* Плавное изменение цвета при наведении */
}

    /* Стили при наведении */
    .custom-button:hover {
        background-color: #000; /* Цвет фона при наведении */
        color: #fff; /* Цвет текста при наведении */
    }
html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'GolosText', sans-serif; /* Использование вашего шрифта */
    margin-bottom: 60px;
}


 #searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px; /* Задайте ширину поля в соответствии с вашим дизайном */
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавьте тень для эффекта поднятости */
    transition: box-shadow 0.3s ease; /* Добавьте плавное изменение тени при фокусе */
}

#searchInput:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Увеличьте тень при фокусе */
}


.crypto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crypto-block {
    width: calc(33.33% - 20px); /* Ширина блока на больших экранах */
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

    .crypto-block img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

.crypto-info {
    display: flex;
    flex-direction: column;
}

    .crypto-info div {
        margin-bottom: 5px;
    }

/* Медиа-запрос для адаптации блоков на мобильных устройствах */
@media (max-width: 768px) {
    .crypto-block {
        width: calc(50% - 20px); /* Ширина блока на средних экранах */
    }
}

@media (max-width: 480px) {
    .crypto-block {
        width: calc(100% - 20px); /* Ширина блока на маленьких экранах */
    }
}