@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Для завершения регистрации вам необходимо подвердить, что вы соглашаетесь с тем, что сервис не несет отвественности за ваши возможные потери при торговле.  <a id="confirm-link" href="@Model.EmailConfirmationUrl">Подтвердить аккаунт</a>
</p>
    }
    else
    {
<p>
       
</p>
    }
}

