@page
@model Disable2faModel
@{
    ViewData["Title"] = "Отключить двухфакторную аутентификацию (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Это действие отключает только 2FA.</strong>
    </p>
    <p>
        Отключение 2FA не меняет ключи, используемые в приложениях для аутентификации. Если вы хотите изменить ключ
        используется в приложении для аутентификации, вам следует <a asp-page="./ResetAuthenticator">сбросить ключи аутентификации.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn custom-button" type="submit">Отключить 2FA</button>
    </form>
</div>
